li{
    position: relative;
    margin-bottom: 20px !important;
}
span{
    position: absolute;
    right: 10px;
    top: 5px;
    font-style: italic;
    color: gray;
    
}

button{
    width: 150px;
    margin-right: 20px;
}